/* -----------start color schemes--------------------- */

:root {
    --textcolor: black;
    --colorfour: #C9F2C7;
    --colorthree: #ACECA1;
    --colortwo: #629460;
    --colorone: #243119;
}

@media (prefers-color-scheme:dark){
    :root{
        --textcolor: white;
        --colorone: #C9F2C7;
        --colortwo: #ACECA1;
        --colorthree: #629460;
        --colorfour: #243119;
        background-color: var(--colorfour);   
    }

}

/* -----------end color schemes--------------------- */

/* ----------------start defaults------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

/* ----------------end defaults------------------------------ */


/* -----------------start header/navbar--------------------------- */

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: var(--colorfour);
}

.logo {

    font-size: 1.8rem;
    color: var(--colorone);
    font-weight: bold;
    text-decoration: none;
    
}

.navbar {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar a {

    font-size: 1.2rem;
    color: var(--textcolor);
    font-weight: 500;
    text-decoration: none;
}

@media(max-width:468px) {

    .navbar a{
        font-size: 0.5rem;
    }

}


.navbar a:hover {
    color: var(--colortwo);
    transform: scale(1.2);
}

/* -----------------end header/navbar--------------------------- */


/* -----------------start landing image--------------------------- */

.land {
    position: relative;
}

.land img {
    z-index: 1;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.welcome {
    position: absolute;
    top: 6%;
    left: 5%;
    width: 30%;

    background-image: url(images/fortext.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
}

.welcome h1 {
    font-weight: 800;
    font-size: 5vw;
    line-height: 100%;
}

/* ---------------------end landing image------------------- */

/* -----------------start form-------------------------- */


.formbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    color: var(--textcolor);
    width: 80%;
    padding: 20px;
    border: 5px solid var(--colortwo);
    border-radius: 15px;
    margin: 20px 0;
}

.form .formgroup{
    padding-bottom: 15px;
    padding-right: 15px;
}

.form label{
    display: block;
    
}

.form input[type="text"], .form textarea{
    padding: 8px;
    width: 100%;
}

.button{
    background-color: var(--colorthree);
    color: var(--textcolor);
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

.button:hover{

    background-color: var(--colortwo);
}

/* ---------------------end form-------------------- */

/* -----------------start footer--------------------------- */


#mainfooter{
    background: var(--colorthree); 
    color: var(--textcolor);
    text-align: center;
    padding: 0.3%;
    margin-bottom: 0;
    margin-top: 0;
}

#mainfooter p{
    font-size: 2vw;
}

/* ---------------end footer----------------------- */